<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Welcome!</h1>
          <p class="text-lead text-light">Use these awesome forms to login or create new account in your project for free.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-transparent pb-5">
          <div class="text-muted text-center mt-2 mb-4"><small>Sign up with</small></div>
          <div class="text-center">
            <a href="javascript:void(0)" class="btn btn-neutral btn-icon mr-4">
              <span class="btn-inner--icon"><img src="assets/img/icons/common/github.svg"></span>
              <span class="btn-inner--text">Github</span>
            </a>
            <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon"><img src="assets/img/icons/common/google.svg"></span>
              <span class="btn-inner--text">Google</span>
            </a>
          </div>
        </div>
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <small>Or sign up with credentials</small>
          </div>
          <div class="auth-wrapper">
            <form class="form-signin" [formGroup]="RegisterForm" (ngSubmit)="registerUser()">
                <h3 class="h3 mb-3 font-weight-normal text-center">Please sign up</h3><br>
                <div class="form-group">
                    <label>user Name</label>
                    <input type="text" class="form-control" formControlName="userName" placeholder="Enter UserName" required>
                </div>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" formControlName="name" placeholder="Enter name" required>
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" formControlName="lastName" placeholder="Enter last name" required>
                </div>
                <div class="form-group">
                    <label>Email address</label>
                    <input type="email" class="form-control" formControlName="email" placeholder="Enter email" required>
                </div>
                <div class="form-group">
                    <label>Adress</label>
                    <input type="text" class="form-control" formControlName="adress" placeholder="Enter your Adress" required>
                </div>
                <div class="form-group">
                    <label>City</label>
                    <input type="text" class="form-control" formControlName="city" placeholder="Enter your City" required>
                </div>
                <div class="form-group">
                    <label>Country</label>
                    <input type="text" class="form-control" formControlName="country" placeholder="Enter your Country" required>
                </div>
                <div class="form-group">
                    <label>Postal Code</label>
                    <input type="text" class="form-control" formControlName="postalCode" placeholder="Enter Postal Code" required>
                </div>
                <div class="form-group">
                    <label>Phone Number</label>
                    <input type="text" class="form-control" formControlName="phone" placeholder="Enter phone number" required>
                </div>
                <div class="form-group">
                    <label>About Me</label>
                    <input type="text" class="form-control" formControlName="aboutMe" placeholder="Tell us about yourself" required>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" formControlName="password" placeholder="Password" required>
                </div>
                <button type="submit" class="btn btn-block btn-primary">Sign up</button>
            </form>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
